.spotify-footer {
  /* background-color: #121212;  */
  padding: 80px 40px 40px 40px;
  color: white;
  font-family: sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  flex: 1;
  gap: 80px; /* Space between columns */
}

.footer-column h3 {
  color: white;
  font-size: 16px;
  font-weight: 700;
  text-transform: none;
  margin-bottom: 20px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 15px;
}

.footer-column ul li a {
  color: #b3b3b3; /* Muted gray text */
  text-decoration: none;
  font-size: 15px;
  transition: color 0.2s ease;
}

.footer-column ul li a:hover {
  color: white;
  text-decoration: underline;
}

/* Social Media Section */
.footer-socials {
  display: flex;
  gap: 15px;
}

.social-icon {
  background-color: #292929;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  transition: background-color 0.2s;
}

.social-icon:hover {
  background-color: #727272;
}

/* Responsive for Mobile */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 40px;
  }
  
  .footer-links {
    flex-direction: column;
    gap: 40px;
  }
}