# Node modules (container ke andar install honge)
node_modules

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
*.log

# Environment variables (VERY IMPORTANT)
.env
.env.*

# Git
.git
.gitignore

# Docker files (optional)
Dockerfile
docker-compose.yml

# OS / Editor files
.DS_Store
Thumbs.db

# IDE configs
.vscode
.idea

# Tests & docs (optional)
tests
coverage
docs

# Build output (agar frontend bhi hai)
dist
build
